.popular-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 2rem;
  row-gap: 1rem;
}

img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  display: block;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 0.8rem;
  padding-top: 1rem;
}

.filter-container button {
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  border: 2px solid rgb(65, 98, 168);
  color: rgb(65, 98, 168);
  background: white;
  border-radius: 1rem;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
}
button.active {
  background: rgb(65, 98, 168);
  color: white;
}
